name: Metrics
on:
  schedule: [{ cron: "0 6 * * *" }]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, repositories
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_achievements: yes
          plugin_achievements_threshold: C
